:root{
    --aux-color-0: #8c7ae6; /*  = matt purple */
    --aux-color-1: rgb(82, 82, 82);
    --aux-color-2: rgba(159, 184, 218, 0.4); /* // tertiaire = je sais pas comment ca ça s'appelle */
    --header-color: rgba(255, 255, 255, 0.6);
}

#gameSection{
    flex-direction: column;
}
h1{
    height: 40px;
    width: 100%;
    color: rgb(83, 83, 83);
}

div{
    flex-direction: row;
}

h2{
    width: 100%;
    color: var(--aux-color-0);
}

div div{
    flex-direction: column;
}

img{
    margin: 0 15px 0 10px;
}

#rate{
    margin: 15px 0 0 50px;
}

input[type=radio] {
    display:none;
}

input[type=radio] + label img {
    height: 35px;
    width: 35px;
    filter: grayscale(100%);
}

input[type=radio]:checked + label img {
    filter: grayscale(0%);
} 

label{

}

.downloadBtn{
    margin-left: auto;
    height: 40px;
}
.downloadBtn:hover{
    background-color: rgb(80, 200, 80);
}
.downloadBtn:hover p{
    color: white;
}
.downloadBtn button{
    width: 100%;
    background: none;
    border: none;
    outline: none;
}
.downloadBtn button p{
    margin: 0 auto;
}