:root{
    --aux-color-0: #8c7ae6; /*  = matt purple */
    --aux-color-1: rgb(82, 82, 82);
    --aux-color-2: rgba(159, 184, 218, 0.4);
    --header-color: rgba(255, 255, 255, 0.6);
}

html, body {
    overflow-x: hidden; 
}

h1{
    font-family: Roboto, sans-serif;
    color: rgb(78, 78, 78);
}

section{
    flex-direction: row;
    flex-wrap: wrap;
}

section div{
    flex-direction: column;
    width: 49%;
    
}

#top div{
    min-height: 500px;
    align-items: center;
    padding-bottom: -50px;
    padding: auto;
    flex-direction: row;

}

#top input[type=radio] {
    display: none;
}

#top input[type=radio] + label {
    
    flex-direction: column;
}

#top input[type=radio] + label img{
    border-radius: 6px;
    border: solid 1px var(--aux-color-0);
}

#top input[type=radio] + label a{
    margin: 0 auto;
    font-size: 30px;
    color: rgb(61, 61, 61);
    text-decoration: none;
    font-family: Roboto, sans-serif;
    font-weight: 600;
    flex-direction: column;
    text-align: center;
}

#top input[type=radio]:checked + label {
    z-index: 4;
    transform: perspective(400px) rotateY(0deg) scale(1.1);
    
}
#top input[type=radio]:checked + label #top1, #top2{
    transform: perspective(400px) rotateY(0deg) scale(1.15);
    filter: brightness(90%);
}

#top input[type=radio]:hover + label{
    filter: brightness(110%);
}

#top1{
    order: 2;
    position: relative;
    left: 0px;
    z-index: 3;
    transform: scale(1);
}

#top2{
    order: 1;
    position: relative;
    left: 50px;
    z-index: 2;
    transform: perspective(400px) rotateY(22deg) scale(0.9);
}

#top3{
    order: 3;
    position: relative;
    left: -50px;
    z-index: 1;
    transform: perspective(400px) rotateY(-22deg) scale(0.9);

}

#latestGames div{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
    max-height: 310px;
    overflow: hidden;
}

#latestGames a{
    padding: 0 5px 5px 0;
}

#latestGames a img{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: solid 1px var(--aux-color-0);
    filter: brightness(95%);
}
#latestGames a img:hover{
    filter: brightness(110%);
    width: 102%;
    height: 102%;
}

#latestGames button{
    width: 50%;
    margin: 0 auto;
    height: 40px;
    bottom: -50px;
    outline: none;
    border: solid 1px var(--aux-color-0);
    border-radius: 4px;
}
#latestGames button:hover{
    background-color: var(--aux-color-2);
}

#latestGames button p{
    margin: 0 auto;
    height: 100%;
    transform: rotate(90deg);
    font-size: 30px;
    color: rgb(80, 80, 80);
}

@media only screen and (max-width: 1200px){
    section{
        flex-direction: column;
    }
    section div, div{
        width: 100%;
        margin: 0 auto;
    }
    #top div{
        width: auto;
        padding-left: -222px;
    }
}