@font-face {
  font-family: oBlacker;
  src: url("fonts/blacker/logo.ttf");
}

:root{
    --main-color: #7c4953 ; /*on déclare la couleur principale    #880921*/
    --aux-color-0: #8c7ae6; /*  = matt purple */
    --aux-color-1: rgb(82, 82, 82); /* // secondaire = mazarine blue */
    --aux-color-2: rgba(159, 184, 218, 0.4); /* // tertiaire = je sais pas comment ca ça s'appelle */
    --header-color: rgba(255, 255, 255, 0.6);
}

*{
    display: flex;      /* */
    margin: 0px;
    padding: 0px;
    transition: .1s;
}

head{
    display: none;
}

body{
    flex-direction: column;
    width: 100%;
    background-color: #dcdde1;
    min-height: 1000px;
}

header{
    z-index: 1;
    flex-direction: row;
    position: fixed;
    width: 100%;
    height: 75px;
    transition: .1s;
    transition-timing-function: ease-in;
    transition-timing-function: ease-out;
    font-size: 45px;
    overflow: hidden;
    border-bottom: solid 1px var(--aux-color-0);   
}

header div{
    max-width: 1500px;
    width: calc(100% - 50px);
    margin: 0 auto;
}

#logo{
    text-decoration: none;
    height: 40px;
    border-bottom: solid 3px var(--aux-color-0);
    color: var(--aux-color-1);
    margin: auto 0;
    font-family: oBlacker;
    padding: 0;
}
#logo:hover{
    color: rgb(59, 59, 59);
}

.navBar{
    padding-left: 50px;
    max-width: 23%; /* on fixe la largeur sinon ca décale tout avec le :hover {border...} */
    min-height: 60px;
}

.navBar li{
    min-width: 150px;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
}

.navBar li:hover{
    border-left: solid 1px var(--aux-color-0);
    border-right: solid 1px var(--aux-color-0);
    background-color: var(--aux-color-2);
    transition: .1s;
}

.navBar li p, #logBtn{
    position: relative;
    top: 0px;
    transition: .2s;
    margin: auto;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: var(--aux-color-1);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navBar li:hover p{
    top: -5px;
}

#username{
    margin: auto 0 auto 120px;
    font-size: 20px;
    color: gray;
}

#searchBar{
    position: relative;
    width: 300px;
    height: 50px;
    margin: auto 0 auto auto;
    border: solid 1px var(--aux-color-0);
    border-radius: 4px;
    background-color: none;
    padding-left: 10px;
}

#textInput{
    width: 250px;
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
}

#searchButton{
    width: 50px;
    font-family: Roboto, sans-serif;
    font-size: 40px;
    padding: auto;
    border: none;
    outline: none;
    background: none;
    color: var(--aux-color-1);
}

.log{
    display: none;
    position: fixed;
    padding: 50px;
    flex-direction: column;
    width: 500px;
    border: solid 1px var(--aux-color-0);
    border-radius: 3px;
    font-family: Roboto, sans-serif;
    top: 150px;
    left: 50%;
    margin-left: -19.5%;
}

.log form{
    flex-direction: column;
    margin: 0 auto;
}

.log form input{
    height: 40px;
    width: 400px;
    min-width: 100px;
    margin: 10px 0;
    background: none;
    outline: none;
    border: solid 1px var(--aux-color-0);
    border-radius: 3px;
    padding-left: 10px;
    
}

.log form button{
    width: 60px;
    height: 40px;
    outline: none;
    border: solid 1px var(--aux-color-1);
    background-color: var(--aux-color-0);
    border-radius: 3px;
    margin-left: auto;
    padding-left: 10px;
    padding: auto;
    display: inline-flex;
    align-items: center
}

.log a{
    margin: 20px auto 10px auto;
    font-family: Roboto, sans-serif;
    color: var(--aux-color-1);
    text-decoration: none;
}
.log a:hover{
    color: rgb(46, 46, 46);
}

#content-blocker{
    position: fixed;
    z-index: 1;
    width: 100vw;
    height: 100vw;
    top: 0;
}

#signup-warning{
    flex-direction: column;
    left: 100px;
    margin: 200px auto auto auto;
    width: 100vw;
    min-height: 300px;
    background-color: rgba(255, 55, 55, 0.65);
    backdrop-filter: blur(5px);  
    -webkit-backdrop-filter: blur(10px);
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    font-family: Roboto, sans-serif;
    color: rgb(233, 233, 233);
}

#signup-warning p{
    text-align: center;
    max-width: 1500px;
    width: calc(100vw - 2em);
    margin: 20px auto 0 auto;
    font-size: 50px;
}

#warning-button{
    display: inline-block;
    text-align: center;
    width: 250px;
    height: 100px;
    margin: auto;
    border: 1px solid red;
    border-radius: 3px;
    outline: none;
    background-color: var(--aux-color-2);
    font-size: 25px;
    color: rgb(233, 233, 233);
}

#signup-warning button:hover{
    background-color: rgba(80, 255, 80, 0.514);
}

#errorBox{
    background-color: rgba(255, 0, 0, 0.5);
    position: fixed;
    top: 75px; /* hauteur + largeur de la bordure = 100 + 1 px */
    right: 50px;
    height: 100px;
    max-height: 100px;
    overflow: hidden;
    width: 200px;
    color: white;
    font-family: Roboto, sans-serif;
    border-radius: 0 0 12px 12px;
    border: solid 1px red;
    border-bottom: none;
}
#errorBox p{
    margin: auto auto;
}
#errorBox a{
    position: relative;
    left: 180px;
    height: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.glass{
    background-color: var(--header-color);
    backdrop-filter: blur(10px);  
    -webkit-backdrop-filter: blur(10px);
}

section{
    width: 100%;
    min-height: 2000px;
    padding-top: 100px;
    flex-direction: column;
    max-width: 1500px;
    width: calc(100% - 50px);
    margin: 0 auto;
    font-family: Roboto, sans-serif;
}

section p{
    padding: 10px 0;
    text-align: justify;
    font-size: 20px;
}

footer{
    display: block;
    margin: 0;
    width: 100%;
    background-color: orange;
}

@supports not (backdrop-filter: blur(5px)) {
    .glass{
        background-color: rgb(233, 233, 233);
    }
    #searchBar{
        background-color: rgb(233, 233, 233);
    }
    #signup-warning{
        background-color: rgba(255, 55, 55, 0.856);
    }
}

@supports (-ms-ime-align:auto) { /* pour edge */
    .glass{
        background-color: var(--header-color);
        backdrop-filter: blur(10px);  
        -webkit-backdrop-filter: blur(10px);
    }

    #searchBar{
        background-color: transparent;
    }
}

@media only screen and (max-width: 1520px) {
    #username{
        margin-left: 200px;
    }
}

@media only screen and (max-width: 1200px) {
    #logo{
        font-size: 35px;
        height: 32px;
    }

    .navBar li{
        min-width: 100px;
    }

    #searchBar{
        width: 250px;
    }
    #username{
        margin-left: 100px;
    }
    .log{
        width: 400px;
        margin-left: -23%;
    }
    .log form input{
        width: 300px;
    }
}

@media only screen and (max-width: 970px) {
    #logo{
        font-size: 30px;
        height: 29px;
    }
    .navBar{
        padding-left: 20px;
        padding-right: 20px;
    }

    #searchBar{
        width: 200px;
    }
    .log{
        width: 200px;
        margin-left: -20%;
    }
    .log form input{
        width: 150px;
    }

}

@media only screen and (max-width: 800px) {
    #logo{
        display: none;
    }
    .navBar{
        padding-left: 10px;
        padding-right: 10px;
    }
    #username{
        margin-left: 150px;
    }

}

@media only screen and (max-width: 680px) {
    #username{
        display: none;
    }
    .log{
        width: 150px;
        margin-left: -20%;
    }
    .log form input{
        width: 125px;
    }
}

@media only screen and (max-width: 600px) {
    .navBar{
        display: none;
    }
    #logo{
        display: flex;
        font-size: 22px;
        height: 20px;
        padding-left: 0px;
        margin-left: -10px;
    }
    .log{
        width: 150px;
        margin-left: -35%;
    }
    .log form input{
        width: 125px;
    }
    #searchBar{
        width: 200px;
    }
}

@media only screen and (max-width: 350px) {
    #logo{
        font-size: 15px;
        height: 15px;
        margin-left: -15px;
    }
    #searchBar{
        width: 200px;
        margin-right: -15px;
    }
}