/* Si on modifie le .css et que rien change sur le site il faut le redémarrer ou nettoyer le cache du navigateur si on peut pas */

@font-face {
  font-family: oBlacker;
  src: url("fonts/blacker/logo.ttf");
}

:root{
    --aux-color-0: #8c7ae6; /*  = matt purple */
    --aux-color-1: rgb(82, 82, 82);
    --aux-color-2: rgba(159, 184, 218, 0.4); /* // tertiaire = je sais pas comment ca ça s'appelle */
    --header-color: rgba(255, 255, 255, 0.6);
}

*{
    display: flex;      /* */
    margin: 0px;
    padding: 0px;
    transition: .1s;
}

:not(#latestGames)::-webkit-scrollbar {
    width: 0;
    background-color: transparent;
}

head{
    display: none;
}

body{
    flex-direction: column;
    width: 100%;
    background-color: #dcdde1;
    min-height: 1000px;
}

header{
    z-index: 100;
    flex-direction: row;
    position: fixed;
    width: 100%;
    height: 75px;
    transition: .1s;
    transition-timing-function: ease-in;
    transition-timing-function: ease-out;
    font-size: 45px;
    overflow: hidden;
    border-bottom: solid 1px var(--aux-color-0);
}

header div{
    max-width: 1500px;
    width: calc(100% - 50px);
    margin: 0 auto;
}

#logo{
    text-decoration: none;
    height: 40px;
    border-bottom: solid 3px var(--aux-color-0);
    color: var(--aux-color-1);
    margin: auto 0;
    font-family: oBlacker;
    padding: 0;
}
#logo:hover{
    color: rgb(59, 59, 59);
}

.navBar{
    padding-left: 100px;
    max-width: 300px; /* on fixe la largeur sinon ca décale tout avec le :hover {border...} */
    min-height: 60px;
}

.navBar li{
    width: 90px;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    
}

.navBar li:hover{
    border-left: solid 1px var(--aux-color-0);
    border-right: solid 1px var(--aux-color-0);
    background-color: var(--aux-color-2);
    transition: .1s;
}

.navBar li p, #logBtn{
    position: relative;
    top: 0px;
    transition: .2s;
    margin: auto;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    color: var(--aux-color-1);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navBar li:hover p{
    top: -5px;
}

#username{
    margin: auto 0 auto 20px;
    padding-top: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 350;
    font-size: 17px;
    color: gray;
}

#searchBar{
    position: relative;
    right: 0;
    width: 300px;
    height: 50px;
    margin: auto 0 auto auto;
    border: solid 1px var(--aux-color-0);
    border-radius: 4px;
    background-color: none;
    padding-left: 10px;
}

#textInput{
    width: 250px;
    border: none;
    outline: none;
    background: none;
    font-size: 16px;
}

#searchButton{
    display: none;
    width: 50px;
    font-family: Roboto, sans-serif;
    font-size: 40px;
    padding: auto;
    border: none;
    outline: none;
    background: none;
    color: var(--aux-color-1);
    overflow: hidden;
}

.log{
    z-index: 5;
    display: none;
    position: fixed;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 50px;
    flex-direction: column;
    width: 500px;
    border: solid 1px var(--aux-color-0);
    border-radius: 3px;
    font-family: Roboto, sans-serif;
    top: 200px;
    overflow-y: scroll;
}
.log ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.log h3{
    flex-direction: column;
    text-align: center;
}
.log h4{
    color: rgb(54, 54, 54);
    font-size: 15px;
    font-weight: 300;
    margin: 15px auto 0 auto;
}

.log form{
    flex-direction: column;
    margin: 0 auto;
}

.log form input{
    height: 40px;
    width: 400px;
    min-width: 100px;
    margin: 10px 0;
    background-color: rgb(233, 233, 233);
    outline: none;
    border: solid 1px var(--aux-color-0);
    border-radius: 3px;
    padding-left: 10px;
    
}

.log form button{
    width: 60px;
    height: 40px;
    outline: none;
    border: solid 1px var(--aux-color-1);
    background-color: var(--aux-color-0);
    border-radius: 3px;
    margin-left: auto;
    display: inline-flex;
    align-items: center
}

.log form button:hover{
    background-color: rgb(114, 197, 114);
}

.log form button p{
    margin: 0 auto;
}

.log a{
    margin: 20px auto 0 auto;
    font-family: Roboto, sans-serif;
    color: var(--aux-color-1);
    text-decoration: none;
}
.log a:hover{
    color: rgb(46, 46, 46);
}

.log .closeBtn{
    position: relative;
    top: -50px;
    left: 270px; 
    font-size: 20px;
}

#content-blocker{
    position: fixed;
    z-index: 6;
    width: 100vw;
    height: 100vw;
    top: 0;
}

#signup-warning{
    flex-direction: column;
    left: 100px;
    margin: 300px auto auto auto;
    width: 100vw;
    min-height: 300px;
    background-color: rgba(255, 55, 55, 0.65);
    backdrop-filter: blur(5px);  
    -webkit-backdrop-filter: blur(10px);
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    font-family: Roboto, sans-serif;
    color: rgb(233, 233, 233);
}

#signup-warning p{
    text-align: center;
    max-width: 1500px;
    width: calc(100vw - 2em);
    margin: 20px auto 0 auto;
    font-size: 50px;
}

#warning-button{
    display: inline-block;
    text-align: center;
    width: 250px;
    height: 100px;
    margin: auto;
    border: 1px solid red;
    border-radius: 3px;
    outline: none;
    background-color: var(--aux-color-2);
    font-size: 25px;
    color: rgb(233, 233, 233);
}

#signup-warning button:hover{
    background-color: rgba(80, 255, 80, 0.514);
}

#confirmEmail{
    /* je le fais pas pour l'instant que le php.email() marche pas */
}

#errorBox, #successBox{
    z-index: 1;
    background-color: rgba(255, 0, 0, 0.5);
    position: fixed;
    left: calc(100% - 400px);
    top: 75px; /* hauteur + largeur de la bordure = 100 + 1 px */
    height: 100px;
    max-height: 100px;
    overflow: hidden;
    width: 200px;
    color: white;
    font-family: Roboto, sans-serif;
    border-radius: 0 0 7px 7px;
    border: solid 1px red;
    border-top: none;
}
#errorBox p, #successBox p{
    margin: auto auto;
    width: 180px;
    text-align: center;
}
#errorBox a, #successBox a{
    position: relative;
    left: 180px;
    height: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#successBox{
    background-color: rgba(0, 224, 11, 0.5);
    border: solid 1px rgb(0, 255, 0);

}

.glass{
    background-color: var(--header-color);
    backdrop-filter: blur(10px);  
    -webkit-backdrop-filter: blur(10px);
}

section{
    width: 100%;
    min-height: 1080px;
    padding-top: 100px;
    flex-direction: column;
    max-width: 1500px;
    width: calc(100% - 50px);
    margin: 0 auto;
    font-family: Roboto, sans-serif;
}

section p{
    padding: 10px 0;
    text-align: justify;
    font-size: 20px;
}

.searchResults{
    margin: 10px 0;
    max-height: 150px;
    flex-direction: row;
    text-decoration: none;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
}

.searchResults img{
    width: 100px;
    height: 145px;
    margin-right: 10px;
}
.searchResults div{
    flex-wrap: wrap;
    align-content: flex-start;
    max-width: calc(100% - 120px);
}
.searchResults div h1{
    color: var(--aux-color-1);
    text-decoration: none;
    border-bottom: solid 2px var(--aux-color-0);
    max-width: 210px;
    height: 24px;
    font-size: 24px;
}
.searchResults div h2{
    align-self: end;
    margin: 10px 0 0 20px;
    width: 100%;
    color: rgb(49, 49, 49);
    font-size: 17px;
    overflow: hidden;
}

.searchResults div h3{
    margin: 7px 0 0 20px;
    color: grey;
    font-size: 15px;
    max-height: 30px;
}

.resultsSeparator{
    width: 100%;
    height: 1px;
    background-color: var(--aux-color-0);
}

.noresultBtn{
    text-decoration: none;
    color: rgb(235, 235, 235);
    background-color: var(--aux-color-0);
    border-radius: 4px;
    width: 300px;
    margin: 0 auto;
}
.noresultBtn p {
    margin: 0 auto;
}

#postContainer form{
    width: 75%;
    min-height: 500px;
    margin: 0 auto;
    flex-direction: column;
}

#postContainer form .postInfo{
    padding-left: 10px;
}

#postContainer form .postInfo, #commentPost, #commentBtn{
    outline: none;
    border: solid 1px var(--aux-color-0);
    border-radius: 4px;
    font-size: 15px;
    font-family: Roboto, sans-serif;
}

.postInfo{
    height: 40px;
    width: 99%;
    background-color: rgb(233, 233, 233);
    margin: 0 0 10px 0;
}
#commentPost{
    min-height: 80px;
    width: 96%;
    resize: vertical;
    background-color: rgb(233, 233, 233);
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
}

#postContainer form input[type=file]{
    margin: 0 0 10px 0;
}

#postContainer form div{
    flex-direction: row;
}
#postContainer form div div{
    margin: 0 0 10px 0;
    flex-direction: column;
    width: 50%;
}

#cover{
    margin: 0 auto 0 auto;
    max-width: 300px;
    max-height: 400px;
    width: auto;
    height: auto;
}
#commentBtn{
    width: 100px;
    height: 40px;
    background-color: none;
    margin: 0 0 0 auto;
    text-align: center;
    color: rgb(92, 92, 92);
}

#commentBtn:hover{
    background-color: rgb(176, 128, 255);
}

#commentBtn p{
    margin: 0 auto;
    height: 100%;
    padding: 0;
}

h3{
    font-family: Roboto, sans-serif;
    font-weight: 425;
    padding-right: 10px;
    color: rgb(70, 70, 70);
}

footer{
    margin: 0;
    min-height: 100px;
    width: 100%;
    background-color: rgb(161, 161, 161);
    border-top: solid 1px var(--aux-color-0);
    padding: 15px;
    flex-direction: column;
    font-family: Roboto, sans-serif;

}

footer h2{
    color: rgb(201, 201, 201);
    margin: 0 auto 15px auto;
}

footer p{
    margin-left: 50px;
    font-weight: 400;
    color: rgb(83, 83, 83);
    
}

.gameCover{
    border-radius: 4px;
    border: solid 1px var(--aux-color-0);
}

.deleteBtn{
    margin-left: auto;
    background-color: none;
    height: 30px;
}

.deleteBtn button{
    outline: none;
    border: solid 1px var(--aux-color-0);
    border-radius: 4px;
    padding: 0 5px 0 5px;
    background-color: transparent;
    cursor: pointer;
}
.deleteBtn button:hover{
    background-color: rgb(255, 60, 60);
}

/* #accountSection h1{

} */


#gamesSection{
    flex-direction: row;
    flex-wrap: wrap;
    align-content: &flex-start;
    margin-bottom: 20px;
}
#consoleName{
    width: 100%;
    height: 30px;
    margin: 10px 0 5px 15px;
}
#gamesSection h1{
    color: var(--aux-color-1);
    height: 28px;
    border-bottom: solid 2px var(--aux-color-0);
}

#gamesSection a{
    margin: 5px;
}
#gamesSection a img{
    filter: brightness(95%);
}
#gamesSection a img:hover{
    filter: brightness(110%);
    width: 104%;
    height: 104%;
}
#gamesSection a img{
    width: 100%;
    height: 100%;
    border: solid 1px var(--aux-color-0);
    border-radius: 6px;
}

.downloadBtn{
    border: solid 1px var(--aux-color-0);
    border-radius: 4px;
    width: 125px;
    font-size: 20px;
    text-decoration: none;
}
.downloadBtn p{
    text-align: center;
    margin: 0 auto;
    color: var(--aux-color-0);
}

@supports not (backdrop-filter: blur(5px)) {
    .glass{
        background-color: rgb(233, 233, 233);
    }
    #searchBar{
        background-color: rgb(233, 233, 233);
    }
    #signup-warning{
        background-color: rgba(255, 55, 55, 0.856);
    }
    #errorBox{
        background-color: rgb(255, 80, 80);
    }
    #successBox{
        background-color: rgb(101, 225, 100);
    }
}

@supports (-ms-ime-align:auto) { /* pour edge */
    .glass{
        background-color: var(--header-color);
        backdrop-filter: blur(10px);  
        -webkit-backdrop-filter: blur(10px);
    }
    #searchBar{
        background-color: transparent;
    }
    #errorBox{
        background-color: rgba(255, 0, 0, 0.5);
    }
    #successBox{
        background-color: rgba(0, 224, 11, 0.5);
        border: solid 1px rgb(0, 255, 0);
    }
}

@media only screen and (max-width: 1500px) {
    #errorBox, #successBox{
        left: calc(100% - 250px);
}

@media only screen and (max-width: 1200px) {
    #logo{
        font-size: 35px;
        height: 32px;
    }

    .navBar{
        padding-left: 10px;
        padding-right: 10px;
    }
    
}

@media only screen and (max-width: 990px) {
    #logo{
        font-size: 30px;
        height: 29px;
    }
    .navBar{
        padding-left: 5px;
        padding-right: 0px;
    }
    #username{
        display: none;
    }

}

@media only screen and (max-width: 920px) {
    .navBar{
        width: 160px;
    }
    #aboutBtn{
        display: none;
    }

    #username{
        margin-left: 150px;
    }

}

@media only screen and (max-width: 680px) {
    .log{
        width: 400px;
    }
    .log .closeBtn{
        left: 220px;
    }

}

@media only screen and (max-width: 630px) {
    #logo{
        font-size: 15px;
        height: 15px;
    }

    .navBar, #logo{
        overflow: hidden;
    }

    #searchBar{
        width: 500px;
    }
    #textInput{
        width: 300px;
    }

    #searchBar button{
        margin-left: auto;
    }

    .log{
        width: 270px;
    }
    .log form input{
        width: 250px;
    }
    .log .closeBtn{
        left: 160px;
    }
    header div{
        margin: 0;
        width: 95%;
        margin: 0 auto;
    }
    #signup-warning p{
        font-size: 30px;
    }
    #postContainer form div input[type=radio]{
    }
}

@media only screen and (max-width: 360px) {
    header{
        height: 50px;
    }
    #logo{
        overflow: none;
        font-size: 12px;
        height: 12px;
    }
    .navBar{
        width: 120px;
        min-height: 40px;
        margin: 0 auto;
    }
    .navBar li{
        width: 60px;
    }
    .navBar li p{
        font-size: 12px;
    }
    #searchBar{
        width: 150px;
        height: 40px;
    }
    #searchButton{
        font-size: 30px;
        width: 30px;
    }
    .log{
        top: 100px;
        width: 250px;
        height: 150px;
        padding: 0;
    }
    .log form{
        height: 100px;
        margin-top: 20px;
    }
    .log form input{
        width: 180px;
        height: 20px;
    }
    .log .closeBtn{
        position: absolute;
        top: 5px;
        margin: 0px;
        left: 230px;
        width: 23px;
    }
    .log a{
        font-size: 14px;
        margin: 15px auto;
    }
    #signup-warning{
        margin-top: 100px;

    }
    #signup-warning p{
        font-size: 25px;
    }
    #warning-button{
        width: 200px;
        height: 50px;
        margin-top: 30px;
    }
    #successBox, #errorBox{
        top: 50px;
        left: 205px;
        width: 120px;
        height: 75px;
    }
    #successBox a, #errorBox a{
        left: 100px;
    }
    #successBox p, #errorBox p{
        position: relative;
    }
    section{
        width: calc(100% - 20px);
        padding-top: 60px;
    }
}

@media only screen and (max-width: 330px){
    #successBox, #errorBox{
        left: 170px;
    }
}